spring:

  application:
    name: PolboHub

  datasource:
    url: jdbc:postgresql://localhost:5432/polbohub
    driver-class-name: org.postgresql.Driver
    username: polbohub
    password: polbohub
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 20000
      max-lifetime: 1200000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations:
      - classpath:db/migration


logging:
  level:
    root: INFO
    org.flywaydb: DEBUG